# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Env / secrets
.env
.env.local
*.local

# Logs
*.log

# Dependencies
node_modules/

# Build output
dist/

# Python
__pycache__/
*.py[cod]
.venv/
.uv/
